body{
background:url(images/bg.gif) repeat top #fff;
font-family:sans, tahoma, Arial, Helvetica, sans-serif;
font-size:15px;
color:black;
background-color:blue;
}
.page{
width:80%;
background-color:white;
margin: 0px auto;
}
/*---------------- menu tab----------------------*/
#menu_tab{
text-align:center;
width:100%;
height:52px;
padding:0px;
margin:0px auto;
background-color:#563d7c;
color:white;
border:1px solid black;
}

ul.menu {
list-style-type:none;
display:block; 
margin: auto; 
padding:0px; 
background:none;}

ul.menu li {
  float:left;
display:inline;
font-size:13px;
font-weight:bold;
line-height:52px;
}

a.nav:link, a.nav:visited {
display:block; float:left; padding:0px; margin:0;width: auto; margin:0px 14px 0px 14px; text-align:center;
text-decoration:none; background:none; color:white;}

a.nav_selected:link, a.nav_selected:visited {
display:block; float:left; padding:0px; margin:0;width: auto;margin:0px 14px 0px 14px;text-align:center;
text-decoration:none; color: #FF6600;}

a.nav:hover {
color: #FF6600; text-decoration:none; }

/*---------------- content ----------------------*/
.block-header{
font-weight:bold;
padding:5px;
margin-bottom:10px;
border-bottom:1px solid white;
}
.block{
color:white;
height:auto;
padding:12px 12px 12px 12px;
background-color:#739ec0;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
margin-top:5px;
margin-bottom:5px;
}
